
.keyboard{
    
    padding: 15px;
    border: 2px solid black;
    
    width: 1100px; 
    height: 310px;
    margin-left: calc((100% - 1100px)/2);
    top: 300px;
}
.inputText{
  
    padding: 15px;
    width: 1100px;
    height: 250px;
   
    margin-left: calc((100% - 1100px)/2);
    border: 1px solid black;
}
.key{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 5px;
    float: left;
    background: rgba(189, 189, 192, 0.5);
    transition-property: background-color;
    transition-duration: 0.2s;
}
.keyboard::after{
    content: "";
    display: block;
    clear: both;
}
.clear{
    width: 100%;
    display: block;
    clear: both;
}
.activity{
    background: rgba(255, 0, 0);
}
.space{
    width: 410px;
}
.key-2{
    width: 110px;
}
.key-1-5{
    width: 80px;
}
.key-2-5{
    width: 140px;
}
.key-Up{
    margin-left: 65px;
}

.text{
    
  margin-left: calc((100% - 1100px)/2);
    font-size: 16px;
}
